@model IEnumerable<TheWall.Models.TestUser>

@{
    foreach(var user in Model)
    {
        <p>@user.UserName</p>
        foreach(var cart in user.ShoppingCarts)
        {
            <p>@cart.Product.Name</p>
        }
    }
}